input.shift-role-cuisine { background-color: #418BFF; color: white; }
input.shift-role-plonge { background-color: #47D4E6; color: white; }
input.shift-role-manager { background-color: #E84141; color: white; }
input.shift-role-directeur { background-color: #7C4DFF; color: white; }
input.shift-role-barman { background-color: #5B3921; color: white; }
input.shift-role-service { background-color: #F6A623; color: black; }
input.shift-role-service-r1 { background-color: #FCD34D; color: black; }
input.shift-role-service-r2 { background-color: #FDBA74; color: black; }
input.shift-role-runner { background-color: #A3E635; color: black; }

input.shift-entry {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}