{% extends "base.html" %}
{% block content %}
<h2>Connexion Manager</h2>
<form method="post" autocomplete="off">
    <!-- Champ factice pour tromper l'auto-remplissage -->
    <input type="text" name="fakeusernameremembered" style="display:none">

    <input type="text" name="username" placeholder="admin" required autocomplete="off">
    <input type="password" name="password" placeholder="Mot de passe" required autocomplete="off">
    <button type="submit">Connexion</button>
</form>

<script>
window.onload = function() {
    document.querySelector('[name="username"]').value = '';
    document.querySelector('[name="password"]').value = '';
};
</script>
{% endblock %}